<!DOCTYPE html>
<html>
    <head>
        <title>Job Tracker</title>
    </head>
    <body>
        <h1>Welcome to Job Tracker</h1>

        <from action="/add" method="post">
            <label>Job Title:</label>
            <input type="text" name="title" required><br>

            <label>Company:</label>
            <input type="text" name="company" required><br>

            <label>Status:</label>
            <select name="status">
                <option value="Applied">Applied</option>
                <option value="Interviewed">Interviewed</option>
                <option value="Offered">Offered</option>
                <option value="Rejected">Rejected</option>
            </select><br>

            <button type="submit">Add job</button>
        </from>

        <h2>Jobs List</h2>
        <ul>
            {% for job in jobs %}
                <li>{{ job[1] }} at {{ job[2] }} - {{ job[3] }}</li>
            {% endfor %}
        </ul>
    </body>
</html>